<form novalidate [formGroup]="reactiveForm">

    <h2 mat-dialog-title>Modulo {{formModal}} ORDINE N° {{idOrdineAperto}} DEL {{dataOrdineAperto}}</h2>
    <p style="text-transform: uppercase;">Committente: <b>{{nominativo}}</b></p>
    <p style="text-transform: uppercase;">Ultime misure prese in data: <b>{{data_misura}}</b> </p>
    <mat-dialog-content class="mat-typography">

        <div class="left-side" style="display: none;">
            <mat-form-field appearance="fill">
                <mat-label>Id Cliente</mat-label>
                <input matInput placeholder="clienti_idclienti" formControlName="clienti_idclienti" [readonly]="true">
                <mat-icon matSuffix>keyboard</mat-icon>
            </mat-form-field>
        </div>

        <div class="left-side" style="display: none;">
            <mat-form-field appearance="fill">
                <mat-label>id_misure_ordinate</mat-label>
                <input matInput placeholder="id_misure_ordinate" formControlName="id_misure_ordinate" [readonly]="true">
                <mat-icon matSuffix>keyboard</mat-icon>
            </mat-form-field>
        </div>

        <!-- informazioni generali -->
        <div class="left-side" style="display: none;">
            <mat-form-field>
                <mat-label>Numero Ordine</mat-label>
                <input matInput placeholder="numero dell'ordine" formControlName="idordini" [readonly]="true">
                <mat-icon matSuffix>keyboard</mat-icon>
            </mat-form-field>
        </div>

        <div class="right-side" style="display: none;">
            <mat-form-field>
                <mat-label>Data Ordine</mat-label>
                <input matInput placeholder="data dell'ordine" formControlName="data_ordine" [readonly]="true">
                <mat-icon matSuffix>event</mat-icon>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Fasonista</mat-label>
            <mat-select formControlName="fasonatori_idfasonatori" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let subcontractor of subcontractors" [value]="subcontractor.idfasonatori">
                    {{subcontractor.descrizione}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="reactiveForm.controls.fasonatori_idfasonatori.hasError('required')">Selezionare un fasonatore</mat-error>
            <mat-icon matSuffix>list_alt</mat-icon>
        </mat-form-field>

        <!-- elenco camice -->
        <mat-divider></mat-divider>
        <app-shirts-grid [ordini_idordini]="idOrdineAperto" (shirtsAddEvent)="getShirts($event)"></app-shirts-grid>

        <div class="left-side">
            <mat-form-field appearance="fill">
                <mat-label>Totale</mat-label>
                <input matInput placeholder="importo ordine" formControlName="totale" pattern="\d+(,\d{2})?" required (blur)="calcoloTotale()" onfocus="this.select();" [readonly]="!editable">
                <mat-error *ngIf="reactiveForm.controls.totale.hasError('pattern')">inserire un importo nel corretto #...#,##</mat-error>
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
        </div>
        <div class="right-side">
            <mat-form-field appearance="fill">
                <mat-label>Acconto</mat-label>
                <input matInput placeholder="acconto versato" formControlName="acconto" pattern="\d+(,\d{2})?" required (blur)="calcoloTotale()" onfocus="this.select();" [readonly]="!editable">
                <mat-error *ngIf="reactiveForm.controls.acconto.hasError('pattern')">inserire un importo nel corretto #...#,##</mat-error>
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
        </div>
        <div class="left-side">
            <mat-form-field appearance="fill">
                <mat-label>Saldo</mat-label>
                <input matInput placeholder="saldo ordine" [readonly]="true" formControlName="saldo">
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
        </div>
        <div class="right-side">
            <mat-checkbox formControlName="saldato" (change)="setOrdineSaldato($event)">Saldato</mat-checkbox>
        </div>

        <!-- note e consegna -->
        <div class="left-side">
            <mat-form-field appearance="fill">
                <mat-label>Modalità di Consegna</mat-label>
                <mat-select formControlName="mod_consegna" required readonly>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let deliveryMode of deliveryModes" [value]="deliveryMode.descrizione">
                        {{deliveryMode.descrizione}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="reactiveForm.controls.mod_consegna.hasError('required')">Selezionare una modalità di consegna</mat-error>
                <mat-icon matSuffix>list_alt</mat-icon>
            </mat-form-field>
        </div>
        <div class="right-side">
            <mat-form-field appearance="fill">
                <mat-label>Data di Consegna</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="data_consegna" required [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="left-side">
            <p>&nbsp;</p>
        </div>
        <div class="right-side">
            <mat-checkbox formControlName="consegnato" (change)="setOrdineConsegnato($event)">Consegnato</mat-checkbox>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Note (per il cliente)</mat-label>
            <textarea matInput placeholder="inserisre nota..." formControlName="note"></textarea>
            <mat-icon matSuffix>keyboard</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Note (per il fasonista)</mat-label>
            <textarea matInput placeholder="inserisre nota..." formControlName="note_x_fasonista"></textarea>
            <mat-icon matSuffix>keyboard</mat-icon>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button matTooltip="Annulla {{formModal}} ordini" matTooltipPosition="above" [mat-dialog-close]="false" (click)="ordineAnnullato()" cdkFocusInitial>Annulla</button>
        <button mat-raised-button matTooltip="Conferma {{formModal}} ordini" matTooltipPosition="above" [mat-dialog-close]="{'order': reactiveForm.value, 'shirts': shirtsInOrder}" [disabled]="reactiveForm.invalid">Conferma</button>
    </mat-dialog-actions>

</form>