<form novalidate [formGroup]="reactiveForm">

    <h2 mat-dialog-title>Modulo {{formModal}} ORDINE</h2>
    <p style="text-transform: uppercase;">Committente: <b>{{nominativo}}</b></p>
    <p style="text-transform: uppercase;">Ultime misure prese in data: <b>{{data_misura}}</b> </p>
    <mat-dialog-content class="mat-typography">

        <!-- informazioni generali -->
        <div class="left-side">
            <mat-form-field appearance="fill">
                <mat-label>Numero Ordine</mat-label>
                <input matInput placeholder="numero dell'ordine" formControlName="idordine" [readonly]="true">
                <mat-icon matSuffix>keyboard</mat-icon>
            </mat-form-field>
        </div>
        <div class="right-side">
            <mat-form-field appearance="fill">
                <mat-label>Data Ordine</mat-label>
                <input matInput placeholder="data dell'ordine" formControlName="dataOrdine" [readonly]="true">
                <mat-icon matSuffix>event</mat-icon>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Fasonista</mat-label>
            <mat-select formControlName="subcontractorControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let subcontractor of subcontractors" [value]="subcontractor">
                    {{subcontractor}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="reactiveForm.controls.subcontractorControl.hasError('required')">Selezionare un fasonatore</mat-error>
            <mat-icon matSuffix>list_alt</mat-icon>
        </mat-form-field>

        <!-- elenco camice -->
        <mat-divider></mat-divider>
        <app-shirts-grid></app-shirts-grid>

        <div class="left-side">
            <mat-form-field appearance="fill">
                <mat-label>Totale</mat-label>
                <input matInput placeholder="importo ordine" formControlName="totale">
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
        </div>
        <div class="right-side">
            <mat-checkbox>Consegnato</mat-checkbox>
        </div>

        <div class="left-side">
            <mat-form-field appearance="fill">
                <mat-label>Acconto</mat-label>
                <input type="number" matInput placeholder="acconto versato" formControlName="acconto">
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
        </div>
        <div class="right-side">
            <mat-checkbox>Saldato</mat-checkbox>
        </div>

        <div class="left-side">
            <mat-form-field appearance="fill">
                <mat-label>Saldo</mat-label>
                <input matInput placeholder="saldo ordine" [readonly]="true" formControlName="saldo">
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
        </div>
        <div class="right-side">

        </div>

        <!-- note e consegna -->
        <div class="left-side">
            <mat-form-field appearance="fill">
                <mat-label>Modalità di Consegna</mat-label>
                <mat-select formControlName="modalitaConsegna" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let deliveryMode of deliveryModes" [value]="deliveryMode">
                        {{deliveryMode.descrizione}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="reactiveForm.controls.modalitaConsegna.hasError('required')">Selezionare una modalità di consegna</mat-error>
                <mat-icon matSuffix>list_alt</mat-icon>
            </mat-form-field>
        </div>
        <div class="right-side">
            <mat-form-field appearance="fill">
                <mat-label>Seleziona la data</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataOrdine">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Note (per il cliente)</mat-label>
            <textarea matInput placeholder="inserisre nota..." formControlName="noteCliente"></textarea>
            <mat-icon matSuffix>keyboard</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Note (per il fasonista)</mat-label>
            <textarea matInput placeholder="inserisre nota..." formControlName="noteFasonista"></textarea>
            <mat-icon matSuffix>keyboard</mat-icon>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button matTooltip="Annulla {{formModal}} ordini" matTooltipPosition="above" [mat-dialog-close]="false" cdkFocusInitial>Annulla</button>
        <button mat-raised-button matTooltip="Conferma {{formModal}} ordini" matTooltipPosition="above" [mat-dialog-close]="reactiveForm.value" [disabled]="reactiveForm.invalid">Conferma</button>
    </mat-dialog-actions>

</form>