<form novalidate [formGroup]="reactiveForm">
    <div>
        <h2 mat-dialog-title>Modulo {{formModal}} {{tag_form}}</h2>
        <mat-dialog-content class="mat-typography">
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Descrizione</mat-label>
                    <input matInput placeholder="inserire descrizione del {{tag_form}}" name="descrizione" id="descrizione" formControlName="descrizione" required>
                    <mat-icon matSuffix>keyboard</mat-icon>
                    <mat-error *ngIf="reactiveForm.controls.descrizione.hasError('required')">Selezionare un fasonatore</mat-error>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            </p>
            <p>

                <mat-form-field appearance="fill">
                    <mat-label>Fasonista</mat-label>
                    <mat-select name="fasonista" id="fasonista" formControlName="fasonista" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let subcontractor of subcontractors" [value]="subcontractor">
                            {{subcontractor}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="reactiveForm.controls.fasonista.hasError('required')">Selezionare un fasonatore</mat-error>
                    <mat-icon matSuffix>list_alt</mat-icon>
                </mat-form-field>
            </p>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-raised-button matTooltip="Annulla {{formModal}} del modello di {{nome_catalogo}}" matTooltipPosition="above" [mat-dialog-close]="false" cdkFocusInitial>Annulla</button>
            <button mat-raised-button matTooltip="Conferma {{formModal}} del modello di {{nome_catalogo}}" matTooltipPosition="above" [mat-dialog-close]="reactiveForm.controls" [disabled]="reactiveForm.invalid">Conferma</button>
        </mat-dialog-actions>

    </div>
</form>