.mat-divider {
    clear: left;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    /* text-align: left; */
}