<div class="grid-container">
    <div class="grid-item">
        <app-neckmodels-grid></app-neckmodels-grid>
    </div>
    <div class="grid-item">
        <app-wristmodels-grid></app-wristmodels-grid>
    </div>
    <div class="grid-item">
        <app-forwardsidemodels-grid></app-forwardsidemodels-grid>
    </div>
    <div class="grid-item">
        <app-backsidemodels-grid></app-backsidemodels-grid>
    </div>

</div>

<!-- <app-neckmodels-grid></app-neckmodels-grid>


<mat-divider></mat-divider>


<app-wristmodels-grid></app-wristmodels-grid>


<mat-divider></mat-divider>


<app-forwardsidemodels-grid></app-forwardsidemodels-grid>


<mat-divider></mat-divider>


<app-backsidemodels-grid></app-backsidemodels-grid> -->