@import url('../../../assets/style/form.style.css');
p {
    margin-bottom: 0px;
    text-align: center;
}

mat-form-field {
    width: 75%;
    padding-top: 0;
}

mat-divider {
    clear: left;
}

h2,
h3 {
    text-transform: uppercase;
}

.shift-indicator.bar {
    text-align: left;
    width: 100%;
}

.left-si-bar {
    float: left;
    width: 50%;
}

.right-si-bar {
    float: left;
    width: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 5px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0px;
}

.tag-measure {
    width: 100%;
    text-align: center;
}


/* css per i singoli controlli bottoni */

.control-measure {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: fit-content;
    margin-bottom: 10px;
    text-align: center;
}

.value-display {
    width: 5vw;
    text-align: center;
    border: 0;
}

.value-set {
    width: 100%;
    /* background-color: lightgray; */
}

.container-button {
    position: relative;
    /* border: 1px solid lightgray; */
}

.center-button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 50% 50%;
    }
}