<form novalidate [formGroup]="reactiveForm">
    <h2 mat-dialog-title>Modulo {{formModal}} misure</h2>
    <mat-dialog-content class="mat-typography">

        <h3 *ngIf="formModal=='aggiornamento'">Data ultima misura: <b>{{measure.data_misure | removeStringTime}}</b></h3>
        <h3>Committente <b>{{customer.nominativo}}</b> ( {{customer.telefono}} )</h3>

        <!-- controllo necessario a contenere l'idcliente per inserirlo all'interno dell'oggetto reactiveForm
        e gestirlo on tutti gli altri cmapi in modalità reactive form -->
        <input type="text" formControlName="idcliente" class="value-display" readonly style="display: none;">

        <div class="shirt-indicator-bar">
            <div class="left-si-bar">
                <mat-form-field appearance="fill">
                    <mat-label>Misurometro</mat-label>
                    <mat-select formControlName="shirtIndicatorControl" required (selectionChange)="shirtIndicatorChanged()">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let shirtIndicator of shirtIndicators" [value]="shirtIndicator.descrizione">
                            {{shirtIndicator.descrizione}}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>list_alt</mat-icon>
                    <mat-error *ngIf="reactiveForm.controls.shirtIndicatorControl.hasError('required')">Selezionare un misurometro</mat-error>
                    <!-- <mat-hint>{{reactiveForm.controls.shirtIndicatorControl.value?.sound}}</mat-hint> -->
                </mat-form-field>
            </div>
            <div class="right-si-bar">
                <mat-form-field appearance="fill">
                    <mat-label>Taglia Misurometro</mat-label>
                    <mat-select formControlName="shirtIndicatorControlSize" required (selectionChange)="flagB=true;">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let shirtIndicatorSize of shirtIndicatorSizes" [value]="shirtIndicatorSize.taglia">
                            {{shirtIndicatorSize.taglia}}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>list_alt</mat-icon>
                    <mat-error *ngIf="reactiveForm.controls.shirtIndicatorControlSize.hasError('required')">Selezionare una taglia di misurometro</mat-error>
                    <!-- <mat-hint>{{reactiveForm.controls.shirtIndicatorControl.value?.sound}}</mat-hint> -->
                </mat-form-field>
            </div>
        </div>

        <div class="grid-container" *ngIf="flagA && flagB">
            <!-- PRIMA COLONNA DI INPUT -->
            <div class="grid-item">
                <!-- INPUT COLLO -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('collo')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Collo</p>
                        <input type="text" formControlName="collo" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('collo')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT SPALLA -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('spalla')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Spalla x Lato</p>
                        <input type="text" formControlName="spalla" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('spalla')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT lung_bicipite -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('lunghezza_manica')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Lun Manica</p>
                        <input type="text" formControlName="lunghezza_manica" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('lunghezza_manica')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT BICIPITE -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('bicipite')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Bicipite Totale x Braccio</p>
                        <input type="text" formControlName="bicipite" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('bicipite')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT avambraccio -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('avambraccio')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Avambraccio Totale x Braccio</p>
                        <input type="text" formControlName="avambraccio" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('avambraccio')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SECONDA COLONNA DI INPUT -->
            <div class="grid-item">

                <!-- INPUT campo Lunghezza Camicia Dietro mappato sul campo bacino dell'entità del DB -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('bacino')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Lunghezza Camicia Dietro</p>
                        <input type="text" formControlName="bacino" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('bacino')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT lung_camicia -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('lunghezza_camicia')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Lun Camicia</p>
                        <input type="text" formControlName="lunghezza_camicia" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('lunghezza_camicia')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT centro_schiena -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('centro_schiena')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Centro Schiena</p>
                        <input type="text" formControlName="centro_schiena" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('centro_schiena')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT vita_dietro -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('vita_dietro')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Vita</p>
                        <input type="text" formControlName="vita_dietro" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('vita_dietro')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT bacino_dietro -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('bacino_dietro')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Bacino</p>
                        <input type="text" formControlName="bacino_dietro" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('bacino_dietro')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT Polso -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('polso')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>Polso</p>
                        <input type="text" formControlName="polso" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('polso')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>


            </div>

            <!-- TERZA COLONNA DI INPUT -->
            <div class="grid-item">
                <h3>TORACE AVANTI</h3>
                <!-- INPUT torace_1_bottone -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('torace_1_bottone')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>1° Bottone</p>
                        <input type="text" formControlName="torace_1_bottone" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('torace_1_bottone')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT torace_2_bottone -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('torace_2_bottone')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>2° Bottone</p>
                        <input type="text" formControlName="torace_2_bottone" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('torace_2_bottone')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT torace_3_bottone -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('torace_3_bottone')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>3° Bottone</p>
                        <input type="text" formControlName="torace_3_bottone" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('torace_3_bottone')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>



            </div>

            <!-- QUARTA COLONNA DI INPUT -->
            <div class="grid-item">
                <h3>Aumentare solo avanti</h3>
                <!-- INPUT torace_4_bottone -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('torace_4_bottone')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>4° Bottone</p>
                        <input type="text" formControlName="torace_4_bottone" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('torace_4_bottone')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT torace_5_bottone -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('torace_5_bottone')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>5° Bottone</p>
                        <input type="text" formControlName="torace_5_bottone" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('torace_5_bottone')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT torace_6_bottone -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('torace_6_bottone')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>6° Bottone</p>
                        <input type="text" formControlName="torace_6_bottone" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('torace_6_bottone')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT torace_7_bottone -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('torace_7_bottone')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>7° Bottone</p>
                        <input type="text" formControlName="torace_7_bottone" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('torace_7_bottone')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

                <!-- INPUT torace_8_bottone -->
                <div class="control-measure">
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonDecrease('torace_8_bottone')"><mat-icon>remove</mat-icon></button>
                        </div>
                    </div>
                    <div class="value-set">
                        <p>8° Bottone</p>
                        <input type="text" formControlName="torace_8_bottone" class="value-display" readonly>
                    </div>
                    <div class="container-button">
                        <div class="center-button">
                            <button mat-mini-fab color="primary" (click)="buttonIncrease('torace_8_bottone')"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- controllo necessario a la modalità di gestione della misura (inserimento/aggiornamento) per inserirlo all'interno dell'oggetto reactiveForm
        e gestirlo on tutti gli altri cmapi in modalità reactive form -->
        <input type="text" formControlName="formModal" style="display: none;">

        <mat-divider></mat-divider>

        <div style="width: 100%; margin-top: 25px; text-align: center;">
            <div style="float: left; width: 100%; text-align: center; margin-bottom: 15px;">
                <button mat-raised-button matTooltip="Pulisci segni" matTooltipPosition="right" (click)="pulisci()"><mat-icon>backspace</mat-icon></button>
            </div>
            <div style="float: left; width: 100%;">
                <image-drawing [showToolbox]="false" borderCss="1px solid black" [showCancelButton]="false" [enableLoadAnotherImage]="false" [enableRemoveImage]="false" [src]="Appunti" outputMimeType="'image/jpeg'" [i18n]="i18n" [locale]="locale" [drawingSizes]="{  medium: 5 }"
                    [colors]="{  black: '#000'}" (touchend)="catturadisegno()" (click)="catturadisegno()">

                </image-drawing>
            </div>
        </div>

        <mat-divider></mat-divider>

        <mat-form-field appearance="fill">
            <mat-label>Note</mat-label>
            <textarea matInput placeholder="inserisre nota..." formControlName="note"></textarea>
            <mat-icon matSuffix>keyboard</mat-icon>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button matTooltip="Annulla {{formModal}} della misura" matTooltipPosition="above" [mat-dialog-close]="false" cdkFocusInitial>Annulla</button>
        <button mat-raised-button matTooltip="Conferma {{formModal}} della misura" matTooltipPosition="above" [mat-dialog-close]="{'controls': this.reactiveForm.value, 'base64': this.AppuntiBase64}" (click)="catturadisegno()" [disabled]="reactiveForm.invalid">Conferma</button>
    </mat-dialog-actions>

</form>