<div style="width: 100%; margin-top: 25px;">
    <div style="float: left; width: 100%; text-align: center; margin-bottom: 15px;">
        <button mat-raised-button matTooltip="Pulisci segni" matTooltipPosition="right" (click)="pulisci()"><mat-icon>backspace</mat-icon></button>
    </div>
    <div style="float: left; width: 100%;">
        <image-drawing [showToolbox]="false" borderCss="1px solid black" [showCancelButton]="false" [enableLoadAnotherImage]="false" [enableRemoveImage]="false" [src]="Appunti" outputMimeType="'image/jpeg'" [i18n]="i18n" [locale]="locale" [drawingSizes]="{  medium: 5 }"
            [colors]="{  black: '#000'}" (touchend)="notificaAppuntiBase64()" (click)="notificaAppuntiBase64()">
        </image-drawing>
    </div>
    <div id="base64" style="  border-left: 6px solid green; background-color: rgb(240, 240, 240); padding: 25px; clear: both; margin-top: 10px;" [ngStyle]="{'display': viewOldBase64 ? 'block' : 'none'}">

        <h3 style="clear: both;">Appunti ultima misura</h3>

    </div>
    <!-- <div style="height: 50px; background-color: green; float: left; display: block; width: 100%;" (click)="notificaAppuntiBase64()">
        <p>prova</p>
    </div> -->
</div>





<!-- <div *ngIf="false">

    <button (click)="CaricaBase($event)">Carica Camicia Base</button>
    <button (click)="catturadisegno()">Cattura da Componente</button>

    <h2> Memoria Locale:</h2>
    <h2 [textContent]="AppuntiBase64"></h2>
    <button (click)="CaricaModificata($event)">Carica Camicia da Locale Nel Componente</button>

</div> -->