<div class="table-panel">
    <!-- new bar -->
    <div class="toolbar">
        <div class="left-bar">
            <h2>CAMICIE</h2>

        </div>
        <div class="right-bar">
            <button mat-raised-button matTooltip="Inserisci nuovo camicia" matTooltipPosition="left" (click)="openResourceDialog('inserimento')"><mat-icon>add</mat-icon></button>
        </div>
    </div>

    <!-- filter bar -->
    <div class="search-bar" *ngIf="true">
        <div class="left-search-bar">
            <button mat-icon-button (click)="clearSearch()" matTooltip="Cancella" matTooltipPosition="left"><mat-icon>clear</mat-icon></button>
        </div>
        <div class="right-search-bar">
            <mat-form-field>
                <mat-label>Cerca</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="testo" [(ngModel)]="testo_ricerca">
            </mat-form-field>
        </div>
    </div>

    <!-- table -->
    <div class="mat-elevation-z2 table-container" style="clear: left;">
        <table mat-table [dataSource]="dataSource" matSort #table>
            <!-- Colore Column -->
            <ng-container matColumnDef="colore">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Colore </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.colore}} </td>
            </ng-container>

            <!-- Colore Column -->
            <ng-container matColumnDef="numero_capi">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Capi </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.numero_capi}} </td>
            </ng-container>

            <ng-container matColumnDef="presenza_iniziali">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Iniziali </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.presenza_iniziali}} </td>
            </ng-container>

            <ng-container matColumnDef="modellocollo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Collo </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.modellocollo}} </td>
            </ng-container>

            <ng-container matColumnDef="modellopolso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Polso </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.modellopolso}} </td>
            </ng-container>

            <ng-container matColumnDef="avanti">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Avanti </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.avanti}} </td>
            </ng-container>

            <ng-container matColumnDef="indietro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Indietro </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.indietro}} </td>
            </ng-container>

            <!-- View Column -->
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row" class="middle-row-button">
                    <button mat-raised-button matTooltip="Modifica camicia" matTooltipPosition="right" (click)="openView(row)"><mat-icon>pageview</mat-icon></button>
                </td>
            </ng-container>

            <!-- Update Column -->
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row" class="middle-row-button">
                    <button mat-raised-button matTooltip="Modifica camicia" matTooltipPosition="right" (click)="openResourceDialog('aggiornamento',row)"><mat-icon>create</mat-icon></button>
                </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row" class="last-row-button">
                    <button mat-raised-button matTooltip="Elimina camicia" matTooltipPosition="left" (click)="openDeleteDialog(row)"><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>

            <!-- inserimento dell'intestazione e corpo della tabella -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="riga"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <!-- chiusura table panel -->

</div>