<div class="table-panel">

    <!-- tool bar -->
    <div class="toolbar">
        <h2>RIEPILOGO ORDINI NON CONSEGNATI</h2>
    </div>

    <!-- filter bar -->
    <div class="search-bar" *ngIf="true">
        <div class="left-search-bar">
            <button mat-icon-button (click)="clearSearch()" matTooltip="Cancella" matTooltipPosition="left"><mat-icon>clear</mat-icon></button>
        </div>
        <div class="right-search-bar">
            <mat-form-field>
                <mat-label>Cerca</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="testo" [(ngModel)]="testo_ricerca">
            </mat-form-field>
        </div>
    </div>

    <!-- table -->

    <div class="mat-elevation-z2 table-container" style="clear: left;">
        <table mat-table [dataSource]="dataSource" matSort #table>
            <!-- Numero Ordine Column -->
            <ng-container matColumnDef="idordini">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Num Ordine </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.idordini}} </td>
            </ng-container>

            <!-- Numero Data Ordine Column -->
            <ng-container matColumnDef="data_ordine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Ordine </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.data_ordine}} </td>
            </ng-container>

            <!-- Cliente Column -->
            <!-- <ng-container matColumnDef="clienti_idclienti">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.clienti_idclienti}} </td>
            </ng-container> -->
            <ng-container matColumnDef="nome_cliente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente (telefono) </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.nome_cliente}} </td>
            </ng-container>

            <!-- Data Consegna Column -->
            <ng-container matColumnDef="data_consegna">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Consegna </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.data_consegna}} </td>
            </ng-container>

            <!-- Modalità Consegna Column -->
            <ng-container matColumnDef="mod_consegna">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modalità Consegna </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.mod_consegna}} </td>
            </ng-container>

            <!-- Totale Column -->
            <ng-container matColumnDef="totale">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Totale </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.totale}} </td>
            </ng-container>

            <!-- Consegnato Column -->
            <ng-container matColumnDef="consegnato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Consegnato </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.consegnato}} </td>
            </ng-container>

            <!-- Saldato Column -->
            <ng-container matColumnDef="saldato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldato </th>
                <td mat-cell *matCellDef="let element" class="name-cell"> {{element.saldato}} </td>
            </ng-container>

            <!-- View Order Column -->

            <!-- Confirm Order Column -->
            <!-- <ng-container matColumnDef="confirm">
                <th mat-header-cell *matHeaderCellDef>

                </th>
                <td mat-cell *matCellDef="let row" class="last-row-button">
                    <button mat-raised-button matTooltip="Conferma consegna ordine" matTooltipPosition="left" (click)="confirm()"><mat-icon>send</mat-icon></button>
                </td>
            </ng-container> -->

            <ng-container matColumnDef="menu_button">
                <th mat-header-cell *matHeaderCellDef>

                </th>
                <td mat-cell *matCellDef="let row" class="last-row-button">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu functions" matTooltip="Azioni applicabili" matTooltipPosition="left">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openViewOrder()">
                          <mat-icon>pageview</mat-icon>
                          <span>Visualizza</span>
                        </button>
                        <button mat-menu-item (click)="confirmDeliveryOrder(row.idordini)">
                          <mat-icon>domain_verification</mat-icon>
                          <span>Consegnato</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <!-- inserimento dell'intestazione e corpo della tabella -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="riga"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <!-- chiusura table panel -->
</div>